
.app {
    display: flex;
  }
  
  .gray-sidebar {
    width: 350px;
    background-color: #f0f0f0;
    height: 100vh;
  }
  
  .blue-sidebar {
    background-color: #2179f3f8; 
    color: white;
  }
  
  .note-container {
    padding: 0px;
    flex: 1;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .note-input {
    margin-bottom: 20px;
  }
  
  .note-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 3%;
  }
  .note-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding-bottom: 100%;
  }
  
  .note-input button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .note-input button:hover {
    background-color: #45a049;
  }
  
  .note {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .note-title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
  }
  
  .note-actions {
    margin-top: 10px;
  }
  
  .note-actions button {
    background-color: #2196F3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .note-actions button:hover {
    background-color: #1976D2;
  }
  li{
    list-style-type: none;
  }

.note-preview {
  display: block;
  color: #6c757d;
  font-size: 1em;
  margin-top: 5px;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}
.gray-sidebar li {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  background-color: #0b69ed;
}
.gray-sidebar li:hover {
  background-color: #6c757d1d;
}

.search {
  width: 60%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #0b69ed;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #0757c7;
}
